// default styles

body {
  background-color: #03091f;
  color: #9fa4dd;
  font-family: "Open Sans", sans-serif;

  h1, h2, h3, h4, h5, h6 {
    color: #fff;
  }

  a {
    color: #9fa4dd;

    &:hover {
      color: #fff;
    }
  }
}

.yellow-btn {
  width: fit-content;
  display: block;
  margin-top: 10px;
  border-radius: 5px;
  padding: 13px 25px;
  background-color: #f4d805;
  color: #000;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: #6164fe;
  }
}

.text-yellow {
  color: #f4d805;
}

.brand-color {
  font-size: 30px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  color: #f4d805;
}


// scrollbar

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222227;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6164fe;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6164fe;
}


// header & navba styles

header {
  height: 100px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: #0B1126;
  z-index: 10;

  nav {
    height: 100px;
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: #9fa4dd;
  font-family: "Inter", sans-serif;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
}


// slider styles


.sliderImage {
  display: flex;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sliderText {
  max-width: 480px;
  width: fit-content;
  padding: 30px;
  background-color: #03091fc9;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.carousel-control-prev, .carousel-control-next {
  display: none;
}

.carousel-indicators {
  display: none;
}


// intro

.intro {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;

  .text-wrapper {
    min-height: 400px;
    width: 100%;
    border-radius: 5px;
    background-color: #03091f7a;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}


// services

.card {
  margin: auto;
  padding: 15px;
  height: 100%;

  &:hover {
    border-radius: 10px;
    border: 1px solid #6164ff;
  }

  .card-text {
    text-align: center;
  }
}


.contact-text {
  list-style: none;
  padding: 0;
}


.filter {
  display: flex;
  justify-content: space-between;
  background-color: #0B1126;
  padding: 20px;
  border-radius: 10px;
}

#filter_dropdown {
  list-style: none;
  background-color: #03091f;
  border-radius: 8px;
  min-width: 180px;
  padding: 6px 0 6px 15px;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 50%);
  position: absolute;
  top: 40px;
  right: -20px;

  .list {
    cursor: pointer;

    &:hover {
      color: #fff;
    }
  }
}

#current_category {
  color: #fff;
  background-color: transparent;
  border: none;
}


// blog box

.box {
  height: 100%;
  border-radius: 10px;
  background-color: #0B1126;

  &:hover {
    color: #000;
    background-color: #f4d805;

    h5, span {
      color: #000 !important;
    }
  }

  .boximage img {
    display: block;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 2px;
  }

  .boxtext {
    padding: 15px 15px 20px 15px;
  }
}


// map

.map {
  height: auto;
  min-height: 300px;
  width: 100%;
}


// footer styles

footer {
  background-color: #0b1126;

  h5 {
    color: #fff;
    margin-top: 10px;
    margin-bottom: 25px;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      width: 30px;
      border-bottom: 3px solid #6164ff;
      bottom: -14px;
      left: 0;
    }

    &:after {
      content: "";
      position: absolute;
      width: 8px;
      border-bottom: 3px solid #6164ff;
      bottom: -14px;
      left: 35px;
    }
  }

  ul {
    list-style: none;
    padding-left: 0;

    a {
      text-decoration: none;
    }
  }

  .copyright {
    border-top: 1px solid rgba(255, 255, 255, .1);
    padding: 30px;

    p {
      margin-bottom: 0;
    }
  }

  .scroll-button {
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 1;
    padding: 0;
    font-size: 3rem;
    cursor: pointer;
    color: #6164ff;
    background-color: transparent;
    border: none;
    line-height: 0;
    border-radius: 40px;

    &:hover {
      color: #f4d805;
      border: none;
    }
  }
}

@media (max-width: 991px) {
  .navbar-collapse {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    background-color: #0b1126;

    .navbar-nav {
      max-width: 720px;
      margin: auto;
      padding: 0 12px;
    }
  }
}

@media (max-width: 767px) {
  .navbar-collapse {
    .navbar-nav {
      max-width: 540px;
    }
  }
}