body {
  background-color: #03091f;
  color: #9fa4dd;
  font-family: "Open Sans", sans-serif;

  h1, h2, h3, h4, h5, h6 {
    color: #fff;
  }

  a {
    color: #9fa4dd;

    &:hover {
      color: #fff;
    }
  }
}

header {
  height: 100px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: #0B1126;
  z-index: 10;

  nav {
    height: 100px;
  }
}

.navbar-dark .navbar-nav .nav-link {
  color: #9fa4dd;
  font-family: "Inter", sans-serif;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
}

.text-yellow {
  color: #f4d805;
}

.brand-color {
  font-size: 30px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #f4d805;
}

.sliderImage {
  display: flex;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sliderText {
  max-width: 600px;
  width: fit-content;
  padding: 30px;
  background-color: #03091fc9;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  .slider-btn {
    width: fit-content;
    display: block;
    margin-top: 10px;
    border-radius: 5px;
    padding: 15px 25px;
    background-color: #f4d805;
    color: #000;
    text-decoration: none;
  }
}

.carousel-control-prev, .carousel-control-next {
  display: none;
}

.carousel-indicators {
  display: none;
}

footer {
  background-color: #0b1126;

  h4 {
    color: #fff;
    margin-top: 10px;
  }

  ul {
    list-style: none;
    padding-left: 0;

    a {
      text-decoration: none;
    }
  }

  .copyright {
    border-top: 1px solid rgba(255,255,255,.1);
    padding: 30px;

    p {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 991px) {
  .navbar-collapse {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    background-color: #0b1126;

    .navbar-nav {
      max-width: 720px;
      margin: auto;
      padding: 0 12px;
    }
  }
}

@media (max-width: 767px)  {
  .navbar-collapse {
    .navbar-nav {
      max-width: 540px;
    }
  }
}